---
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="color-scheme" content="light dark" />
    <title>Resume</title>
  </head>
  <body>
    <main class="max-w-7xl mx-auto px-4 py-8 sm:px-6 sm:py-12">
      <slot />
    </main>
  </body>
</html>
